
%white_back {
	opacity:0;
	background-color: white;
}

$name1: 'Lapeyra Works';
$profession1: 'Photography';
$location1: 'Madrid, Spain';
$email1: 'carlos.gabilondo@outlook.com';


$name2: 'CG PHOTOGRAPHY';
$profession2: 'Photography';
$location2: 'Madrid, Spain';
$email2: 'carlos.gabilondo@outlook.com';


$name3: 'STUDIO 59s';
$profession3: 'Architect';
$location3: 'Madrid, Spain';
$email3: 'carlos.gabilondo@outlook.com';


$name4: 'Perfect Eye';
$profession4: 'Graphic Designer';
$location4: 'Madrid, Spain';
$email4: 'carlos.gabilondo@outlook.com';

$frame_color: black;
$backgroud_color:#f2f3f3;
$nav_: 95px;
$footing: 30px;
$light_grey_text: #979b9b;
$hover_transp: 0.3;




@media print {
  .container {
    width: auto;
  }
}
@media (max-width: 991px) {
	.p90 {
		width:100%;
	}
	.pic_aligment {
		text-align: left;
	}
	.body_text_aligment {
		text-align: right;
	}
	.head_text_aligment {
		text-align:right;
	}
	.media_inline {
		display: inline;
	}
	.media_inline_big {
		display: none;
	}

}
@media (min-width: 992px) {
	.p90 {
		width:90%;
	}
	.pic_aligment {
		text-align: center;
	}
	.body_text_aligment {
		text-align: left;
	}
	.head_text_aligment {
		text-align:center;
	}
	.media_inline_small {
		display: none;
	}
}

.for_hover:hover {
	.image_fade{
		opacity: 0.3;
	}
	.text_in_card {
		opacity: 1;
	}
	.title_in_card {
		opacity:1;
	}
	.image_front_page_card {
	opacity: $hover_transp;
	}
}
.name_1::before {
	content: $name1;
}
.profession_1::before {
	content: $profession1;
}
.location_1::before {
	content: $location1;
}
.email_1::before {
	content: $email1;
}
.name_2::before {
	content: $name2;
}
.profession_2::before {
	content: $profession2;
}
.location_2::before {
	content: $location2;
}
.email_2::before {
	content: $email2;
}
.name_3::before {
	content: $name3;
}
.profession_3::before {
	content: $profession3;
}
.location_3::before {
	content: $location3;
}
.email_3::before {
	content: $email3;
}
.name_4::before {
	content: $name4;
}
.profession_4::before {
	content: $profession4;
}
.location_4::before {
	content: $location4;
}
.email_4::before {
	content: $email4;
}
.white_rectangular_background {
	@extend %white_back;
	height: 200px;
}
.top_part {
	font-size: 80px;
	color: #e5e4e2;
	font-weight: bold;
	padding-top: 29px;
}
.submit_button {
	font-size: 50px;
	color: black;
	font-weight: bold;
}
.black_background {
	background-color: $frame_color;
	height: $nav_;
}
.black_background_bottom {
	background-color: $frame_color;
	height: $footing;
}
.navigation_options {
	padding-top: 16px;
	color:white;
}
.opacity {
	opacity: 0.6;
}
.background {
	background-image: url("files/_MG_2733.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}


.image_cover {
	object-fit: cover;
	height: 200px;
}
.image_fade {
  	transition: .5s ease;
  	backface-visibility: hidden;
}
.text_in_card {
	transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
}

.title_in_card {
	transition: .5s ease;
  	opacity: $hover_transp;
	position: absolute;
  	bottom: 5px;
  	left:10px;
  	color: black;
}
.thumbnail_card {
	width: 17px;
	bottom:5px;
	left: 0px;
}
.image_front_page_card {
	object-fit: cover;
  	height: 250px;
  	transition: .5s ease;
  	backface-visibility: hidden;
}
.light_grey {
	color: $light_grey_text;
}
#grey {
	background-color:backgroud_color;
}
















